each archive in archives || []
    tr
        td
          a(href='/report?form_report_name=' + archive.archive) #{archive.archive}
        td #{archive.complete}
        td #{archive.running}
        td #{archive.waiting}
        td #{archive.failed}
        td #{archive.total}
        td
            a(href='archive/delete/' + archive.archive class='btn btn-info delete_row' role='button') Delete report

