//https://www.w3schools.com/icons/icons_reference.asp
- const icons={ead2archivesspace:'ead2archivesspace.png', archivematica:'archivematica.png', backup:'backup.svg',helloworld:'helloworld.jpg', order:'order.svg', recovery:'recovery.svg'}

each workflow in workflows || []
    - let icon=icons[workflow.name] || workflow.name + '.svg'
    tr(class='small')
        td= workflow.datetime
        td
            if workflow.accession === archive_or_accession
                =workflow.accession
            else
                a(href='?form_archive_name=' + workflow.accession) #{workflow.accession}
        td
            img(src='images/' + icon width='25px' style='float: left;padding-right: 5px')
            = workflow.name
        td
        td(class= 'clickbox small ' + {
            '-1': 'bg-danger',
            '0': '',
            '1': '',
            '2': 'bg-success'
        }[workflow.status] onclick='document.location="workflow?identifier=' + workflow.identifier + '"')= {'-1': 'Error', 0: 'Waiting', 1: 'Running', 2: 'Complete'}[workflow.status]
        td= workflow.owner
        td
            if workflow.has_dip && workflow.name in ['order', 'download_aip', 'download_dip'] || workflow.has_dip && workflow.name === 'archivematica' && workflow.status === 2
                a(target='_blank' href=iiif_url + '/#?manifest=' + handle_url + '/' + workflow.accession + '?locatt=view:manifest')
                    img(style='height: 100px;width: 100px' src=handle_url + '/' + workflow.accession + '?locatt=view:level3')
                br
                a(target='_blank' href=handle_url + '/' + workflow.accession + '?locatt=catalog') catalog
            else
                |

        td
            a(href='archive/delete/' + workflow.identifier class='btn btn-info delete_row' role='button' onclick='return confirm("Are you sure you want to delete?");') Delete