extends layout

block content
  #heartbeat(style="float:right")
  #user User: #{user}
  h1= title

  include menu

  form(method='GET' class='form-inline' id='form_history')

    table(class='table table-striped')
      thead(class='thead-dark')
        th(class='sortable' id='datestamp') when
        th(class='accession' id='accession') accession
        th//- icon
        th(class='sortable' id='workflow') workflow
        th(class='sortable' id='status') status
        th(class='sortable' id='owner') owner
        th
      tr
        td//- when
        td
            input(type='text' name='form_archive_name' id='form_archive_name' value=form_archive_name class='filter')
        td(colspan='2') workflow
          select(class='custom-select filter' id='form_workflow_name' name='form_workflow_name')
            each item in form_workflow_list
              option #{item}
        td
          each val,key in workflow_status
              input(type='checkbox' name='filter_'+key id='filter_'+key value=val checked class='smaller filter')
              =key
              br
        td
            input(type='checkbox' name='filter_owner' id='filter_owner' value=uid class='smaller filter')
            = 'self'
        td//- button

    tbody(id='tbody')
      include history_inc