extends layout

block content
  #heartbeat(style="float:right")
  #user User: #{user}
  h1= title

  include menu

  form(method='GET' class='form-inline' id='form_history')

    input(type='hidden' id='form_history_name' name='form_history_name' value=form_history_name)

    div(class='input-group')
      label(for='form_history_status' class='form-check-label') Status
      select(class='custom-select' id='form_history_status' name='form_history_status' onchange='this.form.submit()')
        each status in history_status
          option #{status}

      label(for='form_workflow_item' class='form-check-label') Workflow types
        select(class='custom-select filter' id='form_workflow_item' name='form_workflow_item')
          each item in form_workflow_list
            option #{item}

  table(class='table table-striped')
    thead(class='thead-dark')
      tr
        th(class='sortable' id='datestamp') when
        th(class='sortable' id='workflow') workflow
        th//- icon
        th(class='sortable' id='accession') accession
        th(class='sortable' id='owner') owner
        th(class='sortable' id='status') status
        //th(class='sortable' id='has_aip') aip
        //th(class='sortable' id='has_dip') dip
        //th(class='sortable' id='has_pid') pid
        //th(class='sortable' id='has_iiif') iiif
        th
    tbody(id='tbody')
      include history_inc