each workflow in workflows || []
    tr
        td
          a(href='/workflow?form_workflow_identifier=' + workflow.identifier) #{workflow.accession}
        td #{{'-1': 'Error', 0: 'Waiting', 1: 'Running', 2: 'Complete'}[workflow.status]}
        td #{status[workflow.has_aip]}
        td #{status[workflow.has_dip]}
        td #{status[workflow.has_iiif]}
