extends layout

block content
  #heartbeat(style="float:right")
  #user User: #{user}
  h1= title

  include menu

  form(method='GET' class='form-inline' id='form_report')

    input(type='hidden' id='form_report_name' name='form_report_name' value=form_report_name)

    div(class='input-group')
      label(for='form_report_status' class='form-check-label') Status
      select(class='custom-select' id='form_report_status' name='form_report_status' onchange='this.form.submit()')
        each status in report_status
          if status === form_report_status
            option(selected='true') #{status}
          else
            option #{status}

      label(for='form_workflow_name' class='form-check-label') Workflow types
        select(class='custom-select' id='form_workflow_name' name='form_workflow_name' onchange='this.form.submit()')
          each name in workflow_name
            if name === form_workflow_name
              option(selected='true') #{name}
            else
              option #{name}

  table(class='table table-striped')
    thead(class='thead-dark')
      tr
        th sample
        th(class='sortable' id='accession') accession
        th(class='sortable' id='status') status
        th(class='sortable' id='has_aip') aip
        th(class='sortable' id='has_dip') dip
        th(class='sortable' id='has_pid') pid
        th(class='sortable' id='has_iiif') iiif
        th(id='delete') delete
    tbody(id='report')
      include report_inc
