each workflow in workflows || []
    tr
        td
            a(href='workflow/delete/' + workflow.identifier class='btn btn-info' role='button') Delete
        td #{workflow.name}
        td
            a(href='workflow/' + workflow.identifier) #{workflow.fileset}
        td #{workflow.end}
        td(colspan='4')
            table
                // each task in workflow.tasks.sort((a, b) => a.order > b.order)
                each task in workflow.tasks
                    tr
                        td(scope='col') #{task.queue}
                        td(scope='col') #{task.identifier}
                        td(scope='col') #{task.description}
                        td(scope='col' class={
                            100: '',
                            150: 'bg-warning',
                            200: '',
                            250: 'bg-warning',
                            300: '',
                            400: 'bg-danger',
                            450: 'bg-danger',
                            499: 'bg-danger',
                            500: 'bg-success',
                            600: 'bg-success'
                        }[task.status]) #{task.status}
                        td(scope='col')
                            pre #{task.info}
                        td(scope='col') #{task.start}
                        td(scope='col') #{task.duration}
                        td(scope='col')
                            a(href='workflow/retry/' + task.identifier + '?form_workflow_name=' + form_workflow_name class='btn btn-info' role='button') Retry (#{task.retrytime})
                            a(href='workflow/skip/' + task.identifier + '?form_workflow_name=' + form_workflow_name class='btn btn-info' role='button') Skip
