extends layout

block content
  #heartbeat(style="float:right")
  #user User: #{user}
  h1= title

  include menu

  form(method='GET' class='form-inline' id='form_workflow')

    input(type='hidden' id='form_workflow_identifier' name='form_workflow_identifier' value=form_workflow_identifier)

    div(class='input-group')
      label(for='form_workflow_name' class='form-check-label') Workflow types
      select(class='custom-select' id='form_workflow_name' name='form_workflow_name' onchange='this.form.submit()')
        each name in workflow_name
          if name === form_workflow_name
            option(selected='true') #{name}
          else
            option #{name}
      label(for='form_workflow_status' class='form-check-label') Status
      select(class='custom-select' id='form_workflow_status' name='form_workflow_status' onchange='this.form.submit()')
        each name in workflow_status
          if name === form_workflow_status
            option(selected='true') #{name}
          else
            option #{name}
  table(class='table table-striped')
    thead(class='thead-dark')
      tr
        th
        th(class='sortable' id='name') flow
        th(class='sortable' id='fileset') fileset
        th(class='sortable' colspan='1' id='owner') owner
        th task
    tbody(id='tbody')
      include workflow_inc
