extends layout

block content
  #heartbeat(style="float:right")
  #user User: #{user}
  h1= title

  include menu

  form(method='GET' class='form-inline' id='form_workflow')

    input(type='hidden' name='workflow_identifier' id='workflow_identifier' value=workflow.identifier)

  table(class='table table-bordered')
    tr
      td//- button
      th fileset
      th date
      th workflow
      th completed
    tr
      td
        a(href='archive/delete/' + workflow.identifier class='btn btn-info delete_row' role='button') Delete
      td
        a(href='workflow/' + workflow.identifier)= workflow.fileset
      td= workflow.datetime
      td= workflow.name
      td= workflow.complete
      //td= {'-1': 'Error', 0: 'Waiting', 1: 'Running', 2: 'Complete'}[workflow.status]

  table(class='table table-striped')
    thead(class='thead-dark')
      tr
        th queue
        th status
        th info
    tbody(id='tbody')
        include workflow_inc
